<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://freesvg.org/img/1476397239.png">
    <title>alarmpi</title>

    <!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- bootstrap icons -->
    {% if icons %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% endif %}
    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </head>

  <body>
  	<div class="container">
	    <!-- https://getbootstrap.com/docs/3.4/examples/navbar/ HELPFUL LINK -->
      <!-- Static navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="">alarmpi</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <!-- <a class="nav-link" href="{{ url_for('about') }}">About</a> -->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      
      <h3 class="mb-3">Alarm Settings</h3>
      <!-- note; if you run out of vertical space, switch from card to row -->
      <div class="card">
        <div class="card-body">
            
            <div class="col-sm-3 alert alert-warning">

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">

                        <div class="fw-bold"><i class="bi bi-sun-fill"> </i>Alarm Time</div>
                        <small>Time is in military format.</small>
                        {% for error in form.alarm_hour.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        {% for error in form.alarm_minute.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="input-group mb-3">
                            {{ form.alarm_hour(class="form-control time-input", placeholder="Hour") }}
                            <span class="input-group-text">:</span>
                            {{ form.alarm_minute(class="form-control time-input", placeholder="Minute") }}
                        </div>

                        <div class="fw-bold mb-1"><i class="bi bi-bell-slash-fill"> </i>Sleep-in Days</div>
                        <div class="form-group mb-3">


                             {% for e in range(0, 7) %} 
                                <div class="form-check">
                                  {{ form|attr(e)(class="form-check-input") }}
                                  {{ (form|attr(e)).label(class="form-check-label") }}
                                </div>
                             {% endfor %} 

                        </div>
                        <i class="bi bi-pencil-fill"> </i>
                        {{ form.custom_message.label(class="fw-bold mb-1") }}
                        <div class="form-group mb-3">
                            {{ form.custom_message(class="form-control", placeholder="Message") }}
                        </div>

                        {{ form.youtube.label(class="fw-bold") }}
                        <br>
                        <small>Can be a playlist or video. If a playlist is linked, a random video from it will be played.</small>
                        {% for error in form.youtube.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group mb-3">
                          {% if form.buzzer_enabled.data %}
                            {{ form.youtube(class="form-control", disabled=true) }}
                          {% else %}
                            {{ form.youtube(class="form-control") }}
                          {% endif %}
                        </div>

                        <div class="form-group mb-3">
                          {{ form.buzzer_enabled(class="form-check-input") }}
                          {{ form.buzzer_enabled.label(class="form-check-label") }}
                        </div>




                        <i class="bi bi-currency-dollar"> </i>
                        {{ form.stock_ticker.label(class="fw-bold mb-1") }}
                        <div class="form-group mb-3">
                            {{ form.stock_ticker(class="form-control", placeholder="Ticker") }}
                        </div>
                        <i class="bi bi-instagram"> </i>
                        {{ form.instagram_username.label(class="fw-bold mb-1") }}
                        <div class="input-group mb-3">
                            <span class="input-group-text">@</span>
                            {{ form.instagram_username(class="form-control", placeholder="Username") }}
                        </div>
                        <!-- <div class="input-group mb-3">
                            
                            {{ form.instagram_username(class="form-control", placeholder="Username", **{'aria-describedby' : 'addon1'}) }}
                            <span class="input-group-text">.00</span>
                          </div> -->
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-sm btn-success") }}
                    </div>
                </form>

                
            </div>
        </div>
      </div>

    </main>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $("input[id='buzzer_enabled']").change(function(){
        document.getElementById("youtube").disabled = $(this).is(":checked");
      });
    </script>
  </body>
</html>